<mat-toolbar color="primary" class="header">
    <mat-toolbar-row>
        <div class="items">
            <img src="assets/img/logo.png" routerLink = "/" style="cursor: pointer;">
            <div class="tab">
                <div class="tab-nav">
                    <button mat-button routerLink = "/main">
                        Статистика
                    </button>
                    <button mat-button routerLink ="/news">
                        Новости
                    </button>
                </div>
                <div class="tab-slash"></div>
                <div class="tab-inform">Информация не соотвтествует действительности</div>
            </div>
        </div>
        
    </mat-toolbar-row>
</mat-toolbar>