.header {
    position: fixed;
    top: 0;
    width: 100%;
    
    z-index: 10;
}
.mat-toolbar-row {
    width: 100vw;
}
.items { 
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 1350px;
    place-items: center;
    justify-content: center;
}
.tab {
    display: flex;
}
.tab-nav {
    padding-left: 20px;
}
button {
    font-size: 18px;
    top: 7px;
}

.tab-slash {
    margin: 0 20px;
    width: 2px;
    height: 50px;
    background-color: rgba(255,255,255,0.9);   
}
.tab-inform {
    margin-top: 7px;
    position: relative;
    width: 200px;
    white-space: normal!important;
    font-size: 12px;
    line-height: 18px;
    color: rgba(255,255,255,0.9);
}