
.main {
    position: absolute;
    width: 100vw;
    height: 100vh;
    
    padding-top: 64px;
    background-color: #d6dbfd;
}
.main-content-stat {
    height: 100%;
}
:host /deep/ .mat-drawer-backdrop {
    position: relative !important; 
}
.main-content {
    margin: 0 auto;
    max-width: 1350px;
}
#my-scrollbar {
  height: 400px;
  overflow: auto;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow:0px 2px 1px -1px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

#main-content-scrollbar {
    height: 100%;
    overflow: auto;
}

mat-drawer-container {
    height: 100%;
    display: block;
}
mat-drawer-conten {
   min-width: 500px;
   height: 100%;
}
.mat-drawer-header {
    margin: 10px auto;
    height: 100%;
    width: 95%;
    border-radius: 15px;
    box-shadow:0px 2px 1px -1px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.graphs-content {
    margin: 10px auto;
    height: 100%;
    width: 95%;
}

:host /deep/ .mat-drawer-inner-container {   
    overflow: hidden !important;
}
.search-bar {
    width: 98%;
    padding: 1%;
    
}
.example-full-width{
    width: 95%;
    bottom: 0;
}
.search-bar-border {
    background-color: #e0e0e0;
    width: 100%;
    display: flex;
    justify-content: center;
    vertical-align: bottom;
    
    height: 50px;
}
.dashboard_buttons {
    border-left: 0!important;
    border-right: 0!important;
    height: 80px; 
    display: flex;
}
#but_ch {
    width: 100%; 
    height: 100%; 
    font-size: 22px;
    display: flex;
    text-align: center;
}
mat-button-toggle-group {
    border-radius: 0!important;
}
th.mat-header-cell {
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;

}

.mat-cell {
    font-size: 14px;
    line-height: 18px;
    cursor:default;
}

table {
    width: 100%;
    text-align: left;
  
}
table tr.mat-row {

}
tr.mat-row:hover {
    background-color: rgba(0,0,0,.07);
}
tr.mat-row:active {
    background-color: rgba(0,0,0,.38)!important;
}
tr.mat-row.active {
    
    background-color: #e0e0e0;
}
.hidden-hr-main {
    padding: 20px 0;
    border: 0;
}